footer {
  background-color: #000;
  color: #aaa;
  text-align: center;
  padding: 15px 0;
  transition: background 0.3s ease, color 0.3s ease;
}

footer:hover {
  background-color: #111;
  color: #fff;
}
